@use "abstracts" as *;
@use "mixins" as *;
@use "fonts" as *;
@use "sass:color";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Jost', sans-serif;
    font-size: 100%;

    @media (min-width: 100em) {
        font-size: 133%;
    }
    @media (min-width: 133em) {
        font-size: 166%;
    }
    @media (min-width: 166em) {
        font-size: 200%;
    }

    @media (max-width: $breakpoint-xxs) {
        font-size: 75%;
    }
}

input,
select {
    font-family: inherit;
}

@mixin -generate-selection() {
    color: white;
    background-color: color.scale($color-secondary, $alpha: -20%);
}

::-moz-selection {
    @include -generate-selection();
}  

::selection {
    @include -generate-selection();
}

.auto-grid {
    background-color: #fefefe;
    color: $color-secondary;
    --auto-grid-min-size: 32rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 2rem;

    @include make-container();
  }
  
  .auto-grid li {
    padding-top: 1.5rem;
    list-style-type: none;
  }
  .auto-grid li h4 {
    transition: color 2s ease-in-out;
  }
  .auto-grid li h4:hover {
    color: $color-primary;
    transition: all 0s;
  }

  .download-cv {
      display: flex;
      justify-content: center;
      padding: 1rem;
  }

.more-about__heading {
    text-transform: uppercase;
    padding-bottom: 0.25rem;
}

