@use "abstracts" as *;
@use "fonts" as *;
@use "mixins" as *;

.icon {
    fill: currentColor;
    height: 1em;
    vertical-align: middle;

    &:not(.icon--no-position) {
        position: relative;
        top: -0.075em;
    }
}

.another-icon {
    fill: $color-secondary;
    height: 1em;
    vertical-align: middle;

    &:not(.icon--no-position) {
        position: relative;
        top: -0.075em;
    }

    &:hover {
        fill: $color-primary;
    }
}