
@use "abstracts" as *;

@mixin clearfix() {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

@mixin make-container() {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;

    @include clearfix;

    @media (max-width: $breakpoint-xs) {
        padding: 0 1rem;
    }
}