@use "abstracts";
@use "aboutme";
@use "base";
@use "bootstrap";
@use "button";
@use "contactmodal";
@use "container";
@use "credits";
@use "footer";
@use "fonts";
@use "form";
@use "gallery";
@use "header";
@use "icon";
@use "mixins";
@use "moreaboutme";
@use "moretech";
@use "motivation";
@use "projects";
@use "sidenav";
@use "skills";
@use "story";
@use "technologies";
@use "thanks";

html {
  scroll-behavior: smooth;
}

input,
select {
  font-family: inherit;
}

::-moz-selection {
  color: white;
  background-color: rgba(85, 85, 85, 0.8);
}

::selection {
  color: white;
  background-color: rgba(85, 85, 85, 0.8);
}
